html {
  overflow-x: hidden;
}
body,p {
  margin: 0;
}


.movies {
  background-image: url("./screenShot.png");
  width: 100%;
  height: 495px;
 
  &_text {
    font-size: 121px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    font-style: italic;
    line-height: 1.2;  
    position: absolute;
    left: 70px;
    bottom: 12px;
    top: 15px;
  }
  
}

.wrapper {
    position: relative;
    left: 30%;
    top: 100px;
}

